@model InternetBanking.Core.Application.ViewModels.DashboardViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Dashboard</h2>
        <div class="row text-center mt-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transacciones Totales</h5>
                        <p class="card-text">@Model.TransaccionesTotales</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transacciones Hoy</h5>
                        <p class="card-text">@Model.TransaccionesHoy</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pagos Totales</h5>
                        <p class="card-text">@Model.TotalPagos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pagos Hoy</h5>
                        <p class="card-text">@Model.PagosHoy</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Productos Asignados</h5>
                        <p class="card-text">@Model.ProductosAsignados</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Clientes Activos</h5>
                        <p class="card-text">@Model.ClientesActivos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Clientes Inactivos</h5>
                        <p class="card-text">@Model.ClientesInactivos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
